[submodule "backend"]
	path = backend
	url = https://github.com/coachpo/beacon-spear-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/coachpo/beacon-spear-frontend.git
[submodule "edge"]
	path = edge
	url = https://github.com/coachpo/beacon-spear-edge.git
	branch = main
