[submodule "backend"]
	path = backend
	url = git@github.com:coachpo/beacon-spear-backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:coachpo/beacon-spear-frontend.git
[submodule "edge"]
	path = edge
	url = git@github.com:coachpo/beacon-spear-edge.git
	branch = main
